<table border style = "width:100%;">
	<tbody>
		<tr>
			<td class = "maintd">
			
				<select class = "select_brand" placeholder = 'Select brand' class = maintd>

				</select>
				<select class = "select_model"></select>

			</div></td><td class = "maintd">
			<div class = text_search>
				<input type = text class = "query_text">
				<button class = "search_start">
					Search
				</button>
			</div></td>
		</tr>
		<tr>
			<td class = "maintd">
			<div class = "model_info_container">
				Model Info
				<div class = "model_info">

				</div>
			</div></td>
			<td class = "maintd">
				Search Results
				<div class = search_results>
					
				</div>
			</td>
		</tr>
	</tbody>
</table>
