<table class = "maintable">
	<tbody>
		<tr>
			<td class = "maintd">
			
				<select class = "select_brand" placeholder = 'Select brand' class = maintd>

				</select>
				<select class = "select_model"></select>

			</td><td class = "maintd">
			<div class = text_search>
				<input type = text class = "query_text">
				<button class = "search_start">
					Search
				</button>
			</div>
			</td>
		</tr>
		<tr>
			<td class = "maintd maintd_bottom">
			
				<div class = "model_info">

			
			</div></td>
			<td class = "maintd maintd_bottom">
				<div class = "search_results">
					
				</div>
			</td>
		</tr>
	</tbody>
</table>
